<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="plat">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="debug"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n"/>
        </Console>
        <File name="app" fileName="etc/logs/app.log" append="true">
            <ThresholdFilter level="debug"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}-%m%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="debug">
            <appender-ref ref="console"></appender-ref>
        </root>
        <logger name="com.amar" level="debug">
            <appender-ref ref="app"></appender-ref>
        </logger>
    </loggers>
</Configuration>